
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700|Roboto+Mono');

::-webkit-scrollbar {
    display: none;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: #17192a;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}

.column {
    width: 32em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column-header {
    color: #c9af85;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.2em;
}

#loading {
    width: 160px;
    position: relative;
    top: 10em;
}

#scoreboard {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

.team {
    color: #efefef;
    margin-bottom: 1.3em;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.team-position {
    color: #c9af85;
    text-align: right;
    border-right: 1px solid #4c4742;
    align-self: center;
    height: 1em;
    width: 1em;
    padding: 0.5em 0.8em 0.5em 0;
    margin-right: 1.2em;
}

.team-contents {
    display: flex;  
}

.team-name {
    font-size: 1.6em;
    letter-spacing: 2.5px;
}

.team-solved {
    color: #8e8e8e;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 700;
}

.team-score {
    font-family: 'Roboto Mono', Courier, monospace;
    font-size: 2.3em;
    position: relative;
    bottom: 3px;
}

.column-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#clockdiv {
    color: #efefef;
    display: inline-block;
    text-align: center;
    font-size: 2.8em;
}

#clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    background: #1f2137;
    display: inline-block;
}

#clockdiv div > span {
    padding: 15px;
    border-radius: 3px;
    background: #171929;
    display: inline-block;
}

.smalltext {
    padding-top: 0.5em;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#latest table, #latest td {
    color: #efefef;
    border: 1px solid #252842;
}

#latest td {
    padding: 0.4em 1.2em;
    font-size: 0.9em;
}

footer {
    color: #3f4577;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    position: absolute;
    bottom: 8px;
    right: 8px;
}
